.cardCont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.card {
  margin: 15px;
  width: 230px;
  height: 380px;
}

.buttonWrap {
  text-align: center;
  padding: 2rem;
}
